body {
    font-family: 'Roboto', sans-serif;
    background: url('light-science-orbit-chemistry-wallpaper-preview.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.container {
    text-align: center;
    position: relative;
}


h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 2.5em;
    color: #ffea00;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 50px;
}

.orbit {
    position: relative;
    width: 500px;
    height: 500px;
}

.atom {
    position: absolute;
    width: 100px;
    height: 100px;
    background: linear-gradient(45deg, #fc466b, #3f5efb);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}

.atom:hover {
    transform: scale(1.2);
}

#fehling-test {
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
}

#beyer-test {
    top: 0;
    left: 50%;
    transform: translate(-482%, -50%);
}

#acid-base-test {
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
}

#tollens-test {
    bottom: 0;
    left: 50%;
    transform: translate(25%, 50%);
}

#bromine-water {
    top: 10%;
    right: 10%;
    transform: translate(45%, -10%);
}
